.terminal-wrapper {
  max-width: 100%;
}

html, body {
  overflow-y: hidden;
}

.terminal {
  width: 90%;
}

.video-scroll {
  max-height: calc(100vh - 180px); /* same math as audio */
  overflow-y: scroll;
}

.video-scroll::-webkit-scrollbar {
  width: 0;
}

.nav-strip {
  position: static;
  width: 600px;
  background-color: #001ed6;
  color: #F281F4;
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: 'windows', monospace;
  box-sizing: border-box;
  margin: 0 auto;
}

.console-header {
  width: 100%;
}

.video-collage {
  column-count: 4;
  column-gap: 0;

  width: 100%;
  padding: 0;
}

/* each media item */
.collage-item {
  width: 100%;
  height: auto;
  display: block;

  break-inside: avoid;
  margin-bottom: 0;

}

@media (max-width: 768px) {
  .video-collage {
    column-count: 2;
  }
}

html,
body {
  overflow-y: scroll;
}

/* WebKit browsers */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

/* Track */
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb */
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: transparent;
}