.console-frame {
  width: 100%;
  max-width: 800px;
  margin: 1rem auto 0 auto; /* space from top */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Floating decorative header */
.console-header {
  width: 100%;
  height: calc(1.6em + 4px);
  background:
    linear-gradient(
      to bottom,
      #F281F4 0 5px,        /* thick top line */
      transparent 5px 7px,  /* negative space */
      #F281F4 7px 8px,      /* thin line */
      transparent 8px 100%
    );
}

.console-body {
  border: 1px solid #F281F4;
  padding: 1ch;
  width: 100%;
  background-color: #001ed6;
  color: #F281F4;
  box-sizing: border-box;
}

@media (max-width: 768px){
    
    .console-frame {
    margin: 0rem;
    }

}